.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
  fill: rgb(148, 183, 165);
  animation: App-logo-spin infinite 8s linear;

}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    // fill: #282c34;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  // display: flex;
  // flex-direction: column;
  // align-items:;
  // justify-content: center;
  // font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
